# Check original post at
# https://danielsaidi.com/blog/2024/03/10/automating-docc-for-a-swift-package-with-github-actions/
# for more info about this setup.

name: DocC Runner

on:
  push:
    branches: ["main", "master"]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

# A single job that builds and deploys the DocC documentation
jobs:
  deploy:
    environment:
      name: github-pages
      url: $
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - id: pages
        name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Select Xcode 15.1
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '15.1.0'
      - name: Build DocC
        run: |
          swift package resolve;

          xcodebuild docbuild -scheme OptionalAPI -derivedDataPath /tmp/docbuild -destination 'generic/platform=iOS';

          $(xcrun --find docc) process-archive \
            transform-for-static-hosting /tmp/docbuild/Build/Products/Debug-iphoneos/OptionalAPI.doccarchive \
            --output-path docs \
            --hosting-base-path 'OptionalAPI';

          echo "<script>window.location.href += \"/documentation/optionalapi\"</script>" > docs/index.html;
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs'
      - id: deployment
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4