name: Nightly build and test

on:
  schedule:
    - cron: '42 0 * * *'

jobs:
  build:

    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        run: swift build -v
        
      - name: Run tests
        run: swift test -v
